:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --caption-text-color: #212121;
  --title-background-color: #2f303a;
  --btn-hover-bgcolor: #188ce8;
  --section-backgraund-color: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --filter-bg-color: #f5f4fa;
  --soc-icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--section-backgraund-color);
}

.navigation__logo--color-dark {
  color: var(--title-text-color);
}

.navigation__logo--color-light {
  color: var(--section-backgraund-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

.btn {
  min-width: 216px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--section-backgraund-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-hover-bgcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  overflow: scroll;
  z-index: 20;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 94%;
  min-height: 609px;
  padding: 40px;
  background-color: var(--section-backgraund-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms linear;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-btn {
  width: 30px;
  height: 30px;
  background: var(--section-backgraund-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  outline: none;
  fill: var(--accent-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.input-wrap {
  margin-bottom: 10px;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input-textarea {
  resize: none;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  padding-left: 16px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.modal-input-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-textarea:focus {
  border-color: var(--accent-color);
}

.input-title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.input-text {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.chekbox {
  margin-top: 20px;
  margin-bottom: 30px;
}

.chekbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .chekbox-label {
    font-size: 14px;
  }
}

.chekbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.chekbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-bottom: 3px;
  margin-right: 8.3px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.chekbox-input:checked + .chekbox-icon {
  background-color: var(--accent-color);
  fill: var(--section-backgraund-color);
  border: none;
}

.policy-link {
  color: var(--accent-color);
}

/*---chekbox button---*/
.modal__form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  min-width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-footer__input {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 15px 16px 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.form-footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form-footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-footer__btn-block {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-footer__submit-btn {
  position: relative;
  width: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--section-backgraund-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 64px 10px 31px;
}
.form-footer__submit-btn:hover, .form-footer__submit-btn:focus {
  background-color: var(--btn-hover-bgcolor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-footer__submit-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  fill: var(--section-backgraund-color);
  transform: translateY(-50%);
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
  }
  .form-footer__input {
    width: 358px;
  }
  .form-footer__submit-btn {
    padding: 10px 62px 10px 29px;
    margin-top: 0px;
    margin-left: 12px;
  }
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  position: relative;
  background-color: var(--base-background-color);
  border-bottom: 1px solid rgb(236, 236, 236);
}

.navigation__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.navigation__logo-accent {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.menu__item {
  position: relative;
}
.menu__link {
  display: block;
  color: var(--caption-text-color);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: var(--accent-color);
}

.menu__button {
  right: 18px;
  z-index: 10;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu__button:hover {
  fill: var(--accent-color);
  cursor: pointer;
}

.menu__button-close {
  display: none;
}
.menu__button.is-open .menu__button-close {
  display: block;
}

.menu__button.is-open .menu__button-open {
  display: none;
}

.menu__mobile-list {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .menu__mobile-list {
    height: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    overflow-y: auto;
    top: 0;
    left: 0;
    padding: 48px 40px;
    background-color: var(--section-backgraund-color);
  }
  .menu__mobile-list.is-open {
    display: flex;
    flex-wrap: wrap;
  }
  .menu__list {
    width: 100%;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
  }
  .menu__item + .menu__item {
    padding-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
  .menu__mobile-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 87px;
  }
  .menu__list {
    display: flex;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu__mobile-list {
    margin-left: 92px;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts__link {
  color: var(--primary-text-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link {
  display: flex;
  align-items: center;
}
.contacts__link:focus {
  outline: none;
}
.contacts__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  display: flex;
  align-items: center;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .contacts__item {
    font-size: 24px;
    line-height: 1.176;
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
    font-size: 24px;
    line-height: 1.176;
  }
  .contacts__block {
    padding-top: 306px;
    padding-bottom: 64px;
  }
  .contacts__link-accent {
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .contacts__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    display: block;
  }
  .contacts__item {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .contacts__item:not(:first-child) {
    margin-left: 50px;
  }
  .contacts__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .social-mobile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .social-mobile {
    display: none;
  }
}

.social-mobile__link {
  display: flex;
  color: var(--accent-color);
}

.social-mobile__link--line::after {
  display: block;
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin: 0px 10px;
}

.section-hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), url(../images/hero-bg480_1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--section-backgraund-color);
}
.section-hero__btn {
  padding: 10px 32px;
}
@media screen and (max-width: 500px) and (min-device-pixel-ratio: 2), screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 500px) and (min-resolution: 192dpi), screen and (max-width: 500px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg480_2x.jpg);
  }
}
@media screen and (max-width: 500px) and (min-device-pixel-ratio: 3), screen and (max-width: 500px) and (min-resolution: 288pi), screen and (max-width: 500px) and (-webkit-min-device-pixel-ratio: 3), screen and (max-width: 500px) and (min-resolution: 3dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bkg480_3x.jpg);
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) {
  .section-hero {
    max-width: 950px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg768_1x.jpg);
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) and (min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 950px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 500px) and (max-width: 950px) and (min-resolution: 192dpi), screen and (min-width: 500px) and (max-width: 950px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg768_2x.jpg);
  }
}
@media screen and (min-width: 500px) and (max-width: 950px) and (min-device-pixel-ratio: 3), screen and (min-width: 500px) and (max-width: 950px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 500px) and (max-width: 950px) and (min-resolution: 288dpi), screen and (min-width: 500px) and (max-width: 950px) and (min-resolution: 3dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg768_3x.jpg);
  }
}
@media screen and (min-width: 950px) {
  .section-hero {
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg1200_1x.jpg);
  }
}
@media screen and (min-width: 950px) and (min-divice-pixel-ratio: 2), screen and (min-width: 950px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 950px) and (min-resolution: 192dpi), screen and (min-width: 950px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg1200_2x.jpg);
  }
}
@media screen and (min-width: 950px) and (min-divice-pixel-ratio: 3), screen and (min-width: 950px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 950px) and (min-resolution: 288dpi), screen and (min-width: 950px) and (min-resolution: 3dppx) {
  .section-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg1200_3x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
  }
  .section-hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.card__list {
  display: block;
}

.card__item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card__wrap {
  width: 100%;
  /*margin-right: 30px;*/
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__wrap {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__wrap {
    width: 270px;
  }
}

.card__item .card__wrap:nth-child(4n) {
  margin-right: 0px;
}

.card__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--caption-text-color);
}
@media screen and (max-width: 767px) {
  .card__subtitle {
    text-align: center;
  }
}

.card__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.card__icon {
  width: 100%;
  /*width: 270px;*/
  height: 120px;
  background-color: var(--filter-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-list {
  display: flex;
  gap: 30px;
  position: relative;
}

.middle-section {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
}

.work-title {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--section-backgraund-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  position: absolute;
  width: 370px;
  top: 224px;
}

@media screen and (max-width: 1199px) {
  .section-work {
    display: none;
  }
}
.team {
  padding-bottom: 94px;
  background-color: var(--filter-bg-color);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team__section {
  text-align: center;
}

.team__item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team__list {
  width: 100%;
  background-color: var(--section-backgraund-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    width: calc((100% - 90px) / 4);
  }
}

.team__name {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__name {
    padding-bottom: 30px;
  }
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
}

.team__text {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__list {
  width: 44px;
  height: 44px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__icon {
  fill: var(--soc-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--section-backgraund-color);
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-bottom: 94px;
  }
}

.clients-title {
  font-weight: 700;
  /*font-size: 36px;*/
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.clients-item {
  width: 100%;
  height: 92px;
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
}

.clients-icon {
  fill: var(--soc-icon-color);
  width: 100%;
  height: 60px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .clients-icon {
    width: 106px;
    height: 60px;
  }
}

.section-filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.filter-btn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  gap: 8px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
  background-color: var(--filter-bg-color);
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--section-backgraund-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--caption-text-color);
}

.project-text {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-title {
  visibility: hidden;
  margin-bottom: 0px;
  font-size: 0px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.project-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--section-backgraund-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.project-item:hover .portfolio-text {
  transform: translateY(0);
}
.project-link:focus .portfolio-text {
  transform: translateY(0);
}

*.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--title-background-color);
}
*.footer__container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  *.footer__wrap {
    width: 100%;
  }
}
*.footer__logo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
  }
  .footer__logo-block {
    display: block;
  }
}
.address {
  display: flex;
  align-items: center;
  justify-content: center;
}
.address__list {
  margin: 0;
  padding: 0;
}
.address__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
    display: block;
  }
}
.address__item:last-child {
  margin-bottom: 0px;
}

.address__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: var(--section-backgraund-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover, .address__map:focus {
  color: var(--accent-color);
}

.address__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: var(--footer-contact-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact:hover, .address__contact:focus {
  color: var(--accent-color);
}

.footer-social-title {
  color: var(--section-backgraund-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-social-title {
    text-align: left;
  }
}

.footer-social {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-top: 0px;
  }
}
.footer-social__list {
  display: flex;
  padding-left: 0px;
  margin: 0px;
  align-items: center;
  justify-content: center;
}
.footer-social__item {
  margin-right: 10px;
}
.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
  outline: none;
}
.footer-social__icon {
  fill: var(--section-backgraund-color);
}

@media screen and (max-width: 1199px) {
  .footer-subscription {
    width: 450px;
    margin-top: 60px;
  }
}/*# sourceMappingURL=main.css.map */