.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 350ms linear, visibility 350ms linear;
}
.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--section-backgraund-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms linear;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close {
  width: 30px;
  height: 30px;
  background: var(--section-backgraund-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: none;
    fill: var(--accent-color);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.input-wrap {
  margin-bottom: 10px;
}
.modal-title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--caption-text-color);
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-input-textarea {
  resize: none;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  padding-left: 16px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.input-text {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}

.chekbox {
  margin-top: 20px;
  margin-bottom: 30px;
}
.chekbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.chekbox-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.chekbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-bottom: 3px;
  margin-right: 8.3px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .chekbox-input:checked + & {
    background-color: var(--accent-color);
    fill: var(--section-backgraund-color);
    border: none;
  }
}
.policy-link {
  color: var(--accent-color);
}
/*---chekbox button---*/
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0;
  min-width: 200px;
  height: 50px;
  text-align: center;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
