.project-title {
  visibility: hidden;
  margin-bottom: 0px;
  font-size: 0px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.project-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--section-backgraund-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .project-item:hover & {
    transform: translateY(0);
  }
  .project-link:focus & {
    transform: translateY(0);
  }
}
